ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: Auto;
		height: Auto;
		background-color: #f1f1f1;
	}
	
	li {
		float: right;
	}
	
	li a {
		display: block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
	}
	
	li a.active {
		background-color: #3366ff;
		color: white;
	}
	
	li a.active:hover {
		background-color: #33ccff;
		color: white;
	}
	
	li a:hover:not(.active) {
		background-color: #555;
		color: white;
	}
	
	#search {
		margin-top: 10%;
		text-align: center;
		color: #1a1a00;
		font-family: Arvo;
	}
	
	body {
		margin: 0px;
		padding: 0px;
		
	}
	
	#page-1 {
		background: url(../images/sajek.jpg);
		background-attachment: fixed;
		background-size: auto;
		height: 100%;
	}
	
	#page-2 {
		background: url(../images/village.jpg);
		background-attachment: fixed;
		background-size: cover;
		height: 100%;
		
		
	}
	
	#page-2 h1 {
		padding: 20px;
		margin: 0px;
		color: white;
		background-color: #0a1429;
		font-family: Arvo;
		width: 25%;
	}
	
	#site-header {
		color: white;
		padding: 20px;
		margin: 0px;
		width: 50%;
	}
	
	.site-nav {
		margin: 0px;
		padding: 0px;
		position: relative;
		top: 0px;
		right: 10px;
		
	}
	
	#grid {
		padding-left: 15%;
		padding-right: 10%;
		padding-top: 2%;
		margin: 0;
	}
	
	.place-name {
		padding: 10px;
		margin: 0px;
		color: white;
		background-color: #0a1429;
		font-family: Arvo;
		width: 25%;
	}